{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <h2>Student Details</h2>
<ul>
    <li><strong>Name:</strong> {{ student.name }}</li>
    <li><strong>Email:</strong> {{ student.email }}</li>
    <li><strong>Phone:</strong> {{ student.phone }}</li>
    <li><strong>Address:</strong> {{ student.address }}</li>
</ul>
<a href="{% url 'home' %}">⬅️ Back to List</a>
</body>
</html>